%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "#"} Developers
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "https://github.com/rafaelcneves/developers", :target => "_blank"} Código Fonte
        %li
          %a{:href => "mailto: rneves@rocketmail.com"} Contato
